<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Skills</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <form class=" container col-md-6 " method="POST" action="">

        <div class="panel bg-primary text-center text-light mb-3 p-3">
          <h1>Edit Skills</h1>
        </div>
        <div class="mb-3">
        <label for="skill_name" class="form-label">Name</label>
        <input type="text" class="form-control"  id="skill_name" name="skill_name" value="{{ data[1] }}">
        </div>

       
  
        <div class="mb-3">
        <label for="proficiency" class="form-label">Proficiency</label>
        <input type="number" class="form-control" id="proficiency" aria-describedby="emailHelp" name="proficiency" value="{{ data[2] }}" >
        </div>
        
       
      
        <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>

</html>